@using Models;
@model IEnumerable<Personagem>


@foreach (var item in Model)
{
    <div style="overflow: hidden; margin-top: 50px;">
        <div style="float: left; margin-right: 50px;">
            <img src="@item.Imagem" height="200" width="200" />
        </div>
        <div style="margin-left: 50px;">
            <h2><a href="#">@item.Nome</a></h2>
            <p>@item.Descricao</p>
        </div>
    </div>
}

